.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.box1{
  /* width:400px; */
  height:30px;
  border:2px solid #000;
}

.breedBox{
  text-align: center; 
  vertical-align: top;
}
.breedCell{
  text-align: center; 
  vertical-align: bottom;
}
.textbox{
  z-index: 1000 !important;
}
.header{
  margin-left: 20px;
}